@media (max-width: 1470px) {
    .text {
        font-size: 13px;
    }
    .text2 {
        margin-left: 10px;
    }
    .plant-img {
        margin-left: 5px;
    }
}
@media (max-width: 1280px) {
    .text {
        font-size: 11px;
    }
}
@media (max-width: 1120px) {
    .text-div {
       flex-direction: column;
       gap: 30px;
       display: flex;
    }
    .text {
        width: 50%;
        margin-left: auto;
        margin-right:auto;
    }
    .text2 {
        font-size: 14px;
    }
    .plant-div {
        display: block !important;
        text-align: center;
    }
    .plant-img {
        width: 200px;
        display: inline-block;
    }
}
@media (max-width: 900px) {
    .nav-div {
        flex-direction: row;
        width: 100%;
        height: 80px;
        align-items:center;
        justify-content: space-around;
    }
    .container {
        width: 100%;
        margin-left: 0;
    }
    .planet{
        display: none;
    }
    .entry-input {
        max-width: 80%;
        margin-left: auto;
        display: block;
        margin-right: auto;
    }
}
@media (max-width: 850px) {
    .text2 {
        font-size: 70%;
    }
    .plant-img {
        width: 44%;
    }
}

@media (max-width: 600px) {
    .text {
        width: 60%;
        height: 30%;
    }
    .entry-div {
        padding: 10px;
    }
    button {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .eco-div {
        flex-direction: column;
        display: flex;
        
        max-width: 100%;
    }
    .eco-img {
        width: 100%;
    }
    .land-div {
        display: block;
        margin: 10px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }
    .land-img {
        width: 100%;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
    }
    .text2 {
        max-width: 96%;
        text-align: justify;
        margin-top: 10px;
    }
    .plant-img {
        width: 48%;
    }
}
@media (max-width: 400px) {
    .plant-img {
        width: 85%;
    }
}